.page-header {
	background: lightblue;
	padding: 4px;
}

h1 {
	text-align: center;
}


form {
	float: right;
	margin-top: 8px;
	margin-bottom: 8px;
}

.btn {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 8px;
}
.btn-primary {
	float: right;
	clear: both;
}


#topics-dump-here {
	clear: both;
	border: 1px solid black;
}
.gifs  {
	display: inline-block;
}
